[submodule "REVUnit.ImageLocator"]
	path = REVUnit.ImageLocator
	url = https://github.com/CCRcmcpe/REVUnit.ImageLocator.git
[submodule "Crlib"]
	path = Crlib
	url = https://github.com/CCRcmcpe/Crlib.git
